$mainFont: 'Poppins-Regular' !important;
$fontSemiBold: 'Poppins-SemiBold' !important;
$fontBold: 'Poppins-Bold' !important;
$fontMedium: 'Poppins-Medium' !important;
$mainFontSize: 16px;
$grayColor: #6F849F !important;
$mainColor: #1E76E2 !important;
$pbColor: #10BCE6 !important;
$defaultColor: #34475F !important;
$loginBG: url('../../assets/images/bg-login.png') no-repeat;